/* .login{
    
    border-radius: 5%;
    background-color: #dedede;
} */
.bodylog{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: 'Jost', sans-serif;
}

.login__bg--light{
	background-color: var(--SurveyJob-Light1);
}

.login__bg--dark{
	background-color: #000000;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23010508' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23020a10' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23040f18' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23051420' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23061928' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
	background-attachment: fixed;
	background-size: cover;
}

.main{
	width: 21.875rem;
	height: 29.2188rem;
	background: red;
	overflow: hidden;
	background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38") no-repeat center/ cover;
	border-radius: 0.625rem;
	box-shadow: 0px 0px 50px #000;
}
#chk{
	display: none;
}
.signup{
	position: relative;
	width:100%;
	height: 100%;
	display: flex;
    justify-content: center;
	backdrop-filter: blur(0.375rem);
}

.signup__bg--dark{
	background-color: rgba(255, 255, 255);
	backdrop-filter: blur(0.375rem);
}

.signup__bg--light{
	background-color: var(--SurveyJob);
}

.login__label{
	color: var(--SurveyJob-Dark2);
	font-size: 2.3em;
	justify-content: center;
	display: flex;
	margin: 1.875rem;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
}
.login__input{
	width: 100%;
	height: 1.25rem;
	background: rgba(0, 0, 0, 0.15);
	justify-content: center;
	display: flex;
	margin: 0.612rem auto;
	padding: 1.25rem;
	border: none;
	outline: none;
	border-radius: 0.3125rem;
}

.login__input--dark{
	background-color: rgba(0, 0, 0, 0.15);
}
.login__btn{
	width: 60%;
	height: 2.5rem;
	margin: 0.625rem auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: var(--SurveyJob-Dark2);
	font-size: 1em;
	font-weight: bold;
	margin-top: 1.25rem;
	outline: none;
	border: none;
	border-radius: 0.3125rem;
	transition: .2s ease-in;
	cursor: pointer;
}
.login__btn:hover{
	background: var(--SurveyJob-Dark1);
}

.login__btn--dark{
	background-color: var(--SurveyJob);
}

.login__btn--dark:hover{
	background-color: var(--SurveyJob-2);
}

.login{
	height: 100%;
	background: rgba(255,255,255);
	border-radius: 60% / 10%;
	border-end-end-radius: 0rem;
	border-end-start-radius: 0rem;
	transform: translateY(-6.25rem);
	transition: .8s ease-in-out;
    display: flex;
    justify-content: center;
	backdrop-filter: blur(20px);
}

.login--dark{
	background-color: rgba(0, 0, 0, 0.3);
}
.login--dark input::placeholder{
	color:#ddd
}

.login label{
	color: var(--SurveyJob-Dark2);
	transform: scale(.6);
}
.login .login__input{
	background-color: rgba(0, 0, 0, 0.15);
}


.login__password__small{
	font-size: xx-small;
	color:rgba(0, 0, 0, 0.5);
	padding: 0px;
	margin: 0rem auto;
	display: inline-block;
}

#chk:checked ~ .login{
	transform: translateY(-28.125rem);
}
#chk:checked ~ .login label{
	transform: scale(1);	
}
#chk:checked ~ .signup label{
	transform: scale(.6);
}
