@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root{
    --SurveyJob: #F0A500;
    --SurveyJob-Alt: #F5A623;
    --SurveyJob-2: #bc8000;

    /*Light Theme Colors*/
    --SurveyJob-Light1: #E1E1E5;
    --SurveyJob-Light2: #D3D2D3;
    --SurveyJob-Light3: #CDCDCD;

    /*Dark Theme Colors*/
    --SurveyJob-Black1: #1F1F29;
    --SurveyJob-Black2: #17171F;
    --SurveyJob-Black3: #13131A;

    /*Blue Colors*/
    --SurveyJob-Dark1: #082032;
    --SurveyJob-Dark2: #061928;
    --SurveyJob-Dark3: #334756;
}

*{
    font-family: 'Outfit', sans-serif;
}

*::selection{
    background-color: rgba(240, 165, 0, 0.5);
}

input{
    font-family: 'Prompt', sans-serif;
    font-weight: 200;
}

textarea{
    resize: none !important;
    font-family: 'Prompt', sans-serif !important;
    font-weight: 200 !important;
}

.card {
    border: 0;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    -webkit-box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    -moz-box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    -ms-box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #ffffff;
    background-clip: border-box;
    border: 1px solid #eaeaea!important;
    border-radius: 20px !important;
}

.card--dark{
  background-color: rgba(0,0,0,0.25) !important;
  border: none !important;
  backdrop-filter: blur(10px);
}

.form-control:focus,.form-select:focus{
    box-shadow: 0px 0px 0px 3px rgba(240, 165, 0, 0.5)!important;
    border: 1px solid var(--SurveyJob) !important;
}

.fw-100{font-weight: 100 !important;}
.fw-200{font-weight: 200 !important;}

.text-hover:hover{color: #334756 !important;}

.text-ellipsis{text-overflow: ellipsis;}

.bg-dark-transparency{background-color: rgba(0, 0, 0, 0.3) !important;}

.form-check-input-warning:checked{
    background-color: #F0A500 !important;
    border: 0.5px solid var(--SurveyJob) !important;
    box-shadow: 0px 0px 0px 3px rgba(240, 165, 0, 0.5)!important;
}
.form-check-input-warning:focus{
    color: var(--SurveyJob);
    border: 0.5px solid var(--SurveyJob) !important;
    box-shadow: 0px 0px 0px 3px rgba(240, 165, 0, 0.2)!important;
}

.page-item{
    border: none !important;
}

.page-link{
    background-color: rgba(0, 0, 0, 0.6) !important;
    color: var(--SurveyJob) !important;
    border: none !important;
}

.page-link:hover{
    background-color: var(--SurveyJob-2) !important;
    color:#CDCDCD !important;
}

.page-link:focus{
    box-shadow: 0px 0px 0px 3px rgba(240, 165, 0, 0.2)!important;
}

.page-link--dark{
    background-color: rgba(255, 255, 255, 0.3) !important;
}

.active>.page-link, .page-link.active{
    color: #000 !important;
    background-color: var(--SurveyJob) !important;
}

.disabled>.page-link, .page-link.disabled{
    color: #999 !important;
}

.black-overlay{
    background-color: rgba(0, 0, 0, 0.25);
}

.bs-loader{
    width: 300px;
    height: 300px;
}

.surveyjob-bg-light{
    background: white;
}

.surveyjob-bg-dark{
    background: var(--SurveyJob-Black2);
}

.mountains-bg-light{
    background-color: var(--SurveyJob-Light1);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23061928' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23041019' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23002341' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23031b2d' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23002c5c' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23002443' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23003477' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23002e5a' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23003a91' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%23003671' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23003faa' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23053e88' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}

.mountains-bg-dark{
    background-color: var(--SurveyJob-Black3);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23f0a500' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23e8a000' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23e28d00' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23cf8000' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23d47600' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23b76000' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23c65e00' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%239e4000' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23b84700' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%23862000' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23aa2f00' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%236d0000' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}

.texturized--light{
    background-color: #E1E1E5;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(0,680,333)'%3E%3Cstop offset='0' stop-color='%23E1E1E5'/%3E%3Cstop offset='1' stop-color='%23CDCDCD'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='300' height='250' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.04'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    color: var(--SurveyJob-Dark1);
}
  
.texturized--dark{
    background-color: #1F1F29;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(0,680,333)'%3E%3Cstop offset='0' stop-color='%231F1F29'/%3E%3Cstop offset='1' stop-color='%2313131A'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='300' height='250' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.02'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    color: var(--SurveyJob-Light1);
}

.bdf-blur{
    backdrop-filter: blur(3px);
}

.loading-screen{
    height: 50vh;
}
.secAdmin-dark .card  {
    
    background-color: var(--SurveyJob-Dark3);
    color: var(--SurveyJob-Light3);
};
    
    .secAdmin-light .card  {
        background-color: var(--SurveyJob-Light1);
        color: var(--SurveyJob-Dark1);
    };
    


.table>:not(caption)>*>*{
    background-color: transparent !important;
    color: initial !important;
}
/* Bootstrap Breakpoints */

/*Small (sm)*/
@media (min-width:576px) {
    
}

/*Medium (md)*/
@media (min-width:768px) {
    
}

/*Large (lg)*/
@media (min-width:992px) {
    .loading-screen{
        height: 100vh;
    }
    
    .w-lg-50{
        width: 50% !important;
    }
}

/*Extra-Large (xl)*/
@media (min-width:1200px) {
    
}

/*Extra extra-large (xxl)*/
@media (min-width:1400px) {
    
}